:root {
  --primary-gold: rgba(214,171,99);
  --secondary-gold: rgba(114,92,55);
  --primary-grey: rgba(66,66,66);
  --secondary-grey: rgba(94,89,83);
  --hover: rgba(197,187,169);
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url('/static/images/Homepage.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--primary-gold);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  padding-top: 0;
  text-align: right;
}

/* ADDITIONAL UNIVERSAL */
#gold {
  color: var(--primary-gold);
}

#gold:hover {
  color: var(--hover);
}

/* BASE.HTML */
.nav-wrapper {
  background-color: rgba(22,22,21);
  border-bottom: 5px solid var(--secondary-gold);
}

.page-footer {
  background-color: rgba(4,4,6);
}

/* HOMEPAGE.HTML */
.homepage-wrapper {
  border-radius: 50px 10px;
  opacity: 0.9;
  margin-top: 20vh;
}

.homepage-top {
  text-align: center;
}

.homepage-enter {
  border: 2px solid var(--primary-gold);
}

.btn-large, .btn-large:focus {
  background-color: var(--primary-grey);
  color: var(--primary-gold);
  border-radius: 5px;
}

.btn-large:hover {
  background-color: var(--secondary-gold);
  color: var(--hover);
}

/* STARS/INDEX.HTML */
.card-content {
  background-color: rgba(22,22,21);
  border: 5px solid var(--secondary-gold);
  display: flex;
  justify-content: space-around;
}

.btn-small, .btn-small:focus {
  background-color: var(--primary-grey);
  color: var(--primary-gold);
  border-radius: 5px;
}

.btn-small:hover {
  background-color: var(--secondary-gold);
  color: var(--hover);
}
