:root {
  --primary-gold: rgba(214,171,99);
  --secondary-gold: rgba(114,92,55);
  --primary-grey: rgba(66,66,66);
  --secondary-grey: rgba(94,89,83);
  --hover: rgba(197,187,169);
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url('/static/images/Homepage.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--primary-gold);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  padding-top: 0;
  text-align: right;
}

/* FORM SELECT WINDOW */
#id_name, #id_solar_mass, #id_spectral_type, #id_description {
  border-bottom: 2px solid var(--primary-gold);
}

.select-wrapper input.select-dropdown,
.select-wrapper input.select-dropdown:focus {
  border-bottom: 2px solid var(--primary-gold);
}

.select-wrapper ul li {
  background-color: var(--primary-grey);
}

.select-dropdown.dropdown-content li.selected,
.select-dropdown.dropdown-content li.hover,
body.keyboard-focused .select-dropdown.dropdown-content li:focus,
body.keyboard-focused .select-dropdown.dropdown-content li:hover {
  background-color: var(--secondary-gold);
}

.select-wrapper ul li span{
  color: var(--primary-gold);
}

/* ADDITIONAL UNIVERSAL */
#gold {
  color: var(--primary-gold);
}

#gold:hover {
  color: var(--hover);
}

form {
  background-color: rgba(22,22,21);
  border: 2px solid var(--secondary-gold);
}

.form-padding {
  padding: 10px;
}

label{
  color: var(--primary-gold);
}

input {
  color: var(--primary-gold);
}

a {
  color: var(--primary-gold);
}

a:hover {
  color: var(--hover);
}

/* BASE.HTML */
.nav-wrapper {
  background-color: rgba(22,22,21);
  border-bottom: 5px solid var(--secondary-gold);
}

.page-footer {
  background-color: rgba(4,4,6);
}

/* HOMEPAGE.HTML */
.homepage-wrapper {
  border-radius: 50px 10px;
  opacity: 0.9;
  margin-top: 20vh;
}

.homepage-top {
  text-align: center;
}

.homepage-enter {
  border: 2px solid var(--primary-gold);
}

.btn-large, .btn-large:focus {
  background-color: var(--primary-grey);
  color: var(--primary-gold);
  border-radius: 5px;
}

.btn-large:hover {
  background-color: var(--secondary-gold);
  color: var(--hover);
}

/* STARS/INDEX.HTML */
.card-content {
  background-color: rgba(22,22,21);
  border: 5px solid var(--secondary-gold);
  text-align: center;
}

.card-content:hover {
  background-color: var(--secondary-gold);
  border: 5px solid var(--primary-gold);
}

.btn, .btn-small:focus {
  background-color: var(--primary-grey);
  color: var(--primary-gold);
}

.btn:hover {
  background-color: var(--secondary-gold);
  color: var(--hover);
}

