{% extends 'base.html' %}

{% block content %}
<h1>Star Details</h1>

<div class="row">

  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ star.name }}</span>
        <p>Age: {{ star.age }}</p>
        <a href="{% url 'edit_star' star.id %}" class="btn">Edit</a>
      </div>
    </div>
  </div>

  <div class="col s6">
    <form method="POST" action="{% url 'add_planet' star.id %}">
      {% csrf_token %}
      {{ planet_form.as_p }}
      <input type="submit" value="Add Planet" class="btn">
    </form>
    <table class="striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
        </tr>
      </thead>
        <tbody>
            {% for planet in star.planet_set.all %}
                <tr>
                  <td><a href="{% url 'detail_planet' star.id planet.id%}">{{ planet.name }}</a></td>
                  <td>{{ planet.get_size_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>

</div>

<script>
  const selectEl = document.getElementById('id_size');
  M.FormSelect.init(selectEl);
</script>

{% endblock content %}

