{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col s12">
    <h1 class="center">{{ star.name }}</h1>
    <div class="card">
      <div class="card-content">
        <div class="card-content-details">
          <div class="card-content-info">
            <p>Solar Mass: {{ star.solar_mass }}</p>
            <p>Spectral Type: {{ star.get_spectral_type_display }}</p>
            <p>Class: {{ star.get_description_display }}</p>
          </div>
          <div class="card-content-planets">
            <div class="star-details-planet-header">
              <h5>Planets</h5>
              <a href="#new-planet">
                <h6>+ New</h6>
              </a>
            </div>
            {% if star.planet_set.all %}
              {% for planet in star.planet_set.all %}
                <a href="{% url 'detail_planet' star.id planet.id%}">
                  <button class='btn planet-detail-btn'>{{ planet.name }}</button>
                </a>
              {% endfor %}
            {% else %}
              <h4>No Planets Logged</h4>
            {% endif %}
          </div>
        </div>

        <div class="card-content-btn">
          <a href="{% url 'edit_star' star.id %}">
            <button class='btn edit-btn'>Edit</button>
          </a>
          <form action="{% url 'delete_star' star.id %}" method='POST'>
            {% csrf_token %}
            <button type='submit' class='btn delete-btn'>Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="new-planet" class="col s12">
    <h1 class="center">New Planet Discovered</h1>
    <form method="POST" action="{% url 'add_planet' star.id %}">
      {% csrf_token %}
      {{ planet_form.as_p }}
      <input type="submit" value="Add Planet" class="btn">
    </form>
  </div>
</div>

<script>
  const selectEl = document.getElementById('id_size');
  M.FormSelect.init(selectEl);
</script>

{% endblock content %}

