{% extends 'base.html' %}

{% block content %}
<div id="cancel" class="row">
  <div class="col s2"></div>
  <div class="col s8">
    <h1 class="center">{{ planet.name }}</h1>
    <div class="card">
      <div class="card-content">
        <div class="card-content-details">
          <div class="card-content-info">
            <p>Orbits {{ star.name }}</p>
            <p>Mass: {{ planet.get_mass_display }}</p>
            <p>Orbit: {{ planet.get_orbit_display }}</p>
          </div>
        </div>
        <div class="card-content-btn">
          <a href="{% url 'edit_planet' star.id planet.id %}">
            <button class='btn edit-btn'>Edit</button>
          </a>
          <form action="{% url 'delete_planet' star.id planet.id %}" method='POST'>
            {% csrf_token %}
            <button type='submit' class='btn delete-btn'>Delete</button>
          </form>
        </div>
      </div>
    </div>
    <a href="{% url 'detail_star' star.id %}" class="right">
      <h6>Back to {{ star.name }}'s Details</h6>
    </a>
  </div>
  <div class="col s2"></div>
</div>

<script>
  const massEl = document.getElementById('id_mass');
  M.FormSelect.init(massEl);
  const orbitEl = document.getElementById('id_orbit');
  M.FormSelect.init(orbitEl);
</script>
{% endblock content %}